header{
    background-color:  #EB92BE;
}

header img{
   
    height: 6rem;
}
main{
    font-family: "Agency FB";
    background-color: #FFB2D8;
}


#nav {
    text-align: center;
    font-family: "Agency FB";
}
header nav li {
    display: inline-block;
}
header nav a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
}
header nav :hover {
    color: #FFB2D8;
}
.flex-container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-family: "Agency FB";
}
.align-center {
    align-items: center;
}

footer{
    background-color: black;
    font-family: "Agency FB";
    
}


