@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: #FFB2D8;
    --bgc-02: hsl(0, 0%, 08%);
    --txt-01: hsl(0, 0%, 90%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "Agency FB";
    line-height: 1;
}
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}
header img{
    height: 3rem;
    color: var(--bgc-01);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-card img{
    height: 200px;
    width: 400px;
}

header input#burger {
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 1rem 1ch;
    background-color: var(--bgc-02);
    text-align: right;
    cursor: pointer;
}


@media (width <=750px) {
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }

    #act .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (width <=750px) 
    header label[for="Burger"] {
        display: block;
        text-align right;
        padding: 1rem 1ch;
    }

footer {
    padding: 5vw 10vw;
    background-color: #EB92BE;
    color: #666;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
    color: #fff;
}

footer i:hover {
    transform: scale(1.1);
}

    
